* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-size: cover;
  min-height: 100vh;
  background-color: rgba(187, 5, 187, 0.808);
}

.App {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0 0 5px 0;
  transform: translate(-50%, -50%);
}

.header {
  text-align: center;
}
.header h1 {
  padding: 10px;
  color: #fff;
  background-image: linear-gradient(rgb(199, 0, 206), rgba(182, 0, 127, 0.733));
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.list {
  list-style: none;
}
.todo-box {
  display: flex;
  padding: 10px;
  border: 1px solid rgba(187, 5, 187, 0.808);
  border-radius: 30px;
  margin: 10px;
}
.inputTodo {
  border: 1px solid rgba(187, 5, 187, 0.808);
  border-radius: 30px;
}
.inputbox {
  height: 50px;
  padding: 20px;
}
